<securityInterceptor>
  <id>-676ceb1:16de0d9b4a9:-7fec</id>
  <name>interceptor</name>
  <className>org.geoserver.security.filter.GeoServerSecurityInterceptorFilter</className>
  <allowIfAllAbstainDecisions>false</allowIfAllAbstainDecisions>
  <securityMetadataSource>geoserverMetadataSource</securityMetadataSource>
</securityInterceptor>